{% extends 'base.html' %} 
{% block content %} 
        <form action="">      
            <div class="mb-3">       
                <label class="form-label">Search for Book:</label>      
                 <input type="text" name="searchBook"  class="form-control" />    
            </div>      
            <button type="submit" class="btn btn-primary">        
                Search      
            </button>    
        </form>  
        <!-- Searching for {{searchTerm}}
        {% for book in books %}
        <h2>{{book.title}}</h2>
        <h3>{{book.description}}</h3>
        <img src = "{{book.image.url}}">
        {% if book.url %}
           <a href = {{book.url}}>Book Link</a>
        {% endif %}
        {% endfor %} -->
        <div class="row row-cols-1 row-cols-md-3 g-4">        
            {% for book in books %}        
            <div v-for="book in books" class="col">          
                <div class="card h-100">            
                    <img class="card-img-top" src="{{book.image.url }}" />            
                    <div class="card-body">              
                        <h5 class="card-title fw-bold">{{ book.title}}</h5>              
                        <p class="card-text">{{ book.description}}</p>              
                        {% if book.url %}              
                        <a href="{{ book.url }}" class="btn btn-primary">  Book Link  </a>              
                        {% endif %}           
                         
                    </div>        
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock content %}
        <!-- <br />      
        <br />      
        <h2>Join our mailing list:</h2>      
        <form action="{% url 'signup' %}">        
            <div class="mb-3">          
                <label for="email" class="form-label">            
                    Enter your email:          
                </label>          
                <input type="email" class="form-control" name="email" />        
            </div>        
            <button type="submit" class="btn btn-primary">          
                Sign Up        
            </button>      
        </form>
    </div>  -->
   
   
</body>
</html>